@using BelotWebApp.BelotClasses
@model IEnumerable<BelotRoomRecord>

@functions {
    public string IsEmpty(string value) => value == "<empty>" ? "muted" : "";
}

@foreach (var room in Model)
{
    <tr>
        <td colspan="3">@(room.Started ? "Started" : "Not started")</td>
        <td style="text-align: center">
            <button class="w-100 bi bi-box-arrow-in-right py-1 px-1 btn2" onclick="window.location.href='@Url.Action("Index", "Room", new { id = room.RoomId })'">
                @* <i class="bi bi-box-arrow-in-right"></i> *@
            </button>
        </td>
    </tr>
    <tr>
        <td class="position-icon bi bi-arrow-left-circle @IsEmpty(room.Players[0])"></td>
        <td class="position-icon bi bi-arrow-up-circle @IsEmpty(room.Players[1])"></td>
        <td class="position-icon bi bi-arrow-right-circle @IsEmpty(room.Players[2])"></td>
        <td class="position-icon bi bi-arrow-down-circle @IsEmpty(room.Players[3])"></td>
    </tr>
    <tr>
        <td class="truncate-cell @IsEmpty(room.Players[0])">@room.Players[0]</td>
        <td class="truncate-cell @IsEmpty(room.Players[1])">@room.Players[1]</td>
        <td class="truncate-cell @IsEmpty(room.Players[2])">@room.Players[2]</td>
        <td class="truncate-cell @IsEmpty(room.Players[3])">@room.Players[3]</td>
    </tr>
}