@using BelotWebApp.BelotClasses
@model IEnumerable<BelotRoomRecord>

@functions {
    public string IsEmpty(string value) => value == "<empty>" ? "muted" : "";
    public string HasStarted(bool hasStarted) => hasStarted ? "bi bi-play-circle" : "bi bi-hourglass-split muted2";
    public string ChatAllowed(bool chatAllowed) => chatAllowed ? "bi bi-envelope-fill" : "bi bi-envelope-slash muted2";
}

@foreach (var room in Model)
{
    <tr>
        <td class="room-name" colspan="2">
            @(room.RoomName)
        </td>
        <td colspan="1">
            <span class="room-settings">
                <span>@room.ScoreTarget</span>
                <span class="divider-dot">•</span>
                <i class="@ChatAllowed(room.AllowChat)"></i>
                <span class="divider-dot">•</span>
                <i class="@HasStarted(room.Started)" title="@(room.Started ? "Started" : "Not started")"></i>
            </span>
        </td>
        <td colspan="1">
            <button class="w-100 bi bi-box-arrow-in-right py-1 px-1 btn2" onclick="window.location.href='@Url.Action("Index", "Room", new { roomId = room.RoomId })'"></button>
        </td>
    </tr>
    <tr>
        <td class="position-icon bi bi-arrow-left-circle @IsEmpty(room.Players[0])"></td>
        <td class="position-icon bi bi-arrow-up-circle @IsEmpty(room.Players[1])"></td>
        <td class="position-icon bi bi-arrow-right-circle @IsEmpty(room.Players[2])"></td>
        <td class="position-icon bi bi-arrow-down-circle @IsEmpty(room.Players[3])"></td>
    </tr>
    <tr>
        <td class="truncate-cell @IsEmpty(room.Players[0])">@room.Players[0]</td>
        <td class="truncate-cell @IsEmpty(room.Players[1])">@room.Players[1]</td>
        <td class="truncate-cell @IsEmpty(room.Players[2])">@room.Players[2]</td>
        <td class="truncate-cell @IsEmpty(room.Players[3])">@room.Players[3]</td>
    </tr>
}